.testimonials.section .section-box {
	padding-bottom: 50px;
}

.testimonial-photo {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
}

.testimonial-content {
	text-align: center;
	margin-bottom: 30px;
}
